<header>
  <nav>
      <a href="/">Food Lovers</a>
  </nav>
  <ul>
    <li><a href="/restaurants">All Restaurants</a></li>
    <li><a href="/restaurants/new">New Restaurant</a></li>
    <li><a href="/experiences">All Experiences</a></li>
    <li><a href="/experiences/new">Add Experience</a></li>
  </ul>
</header>