<html lang="en"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Main</title>
  <!-- CSS  -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class = "container">
  <h1>MAIN PAGE</h1>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <div>
      <ul class="right hide-on-med-and-down">
        <!-- <li> -->
          <% if (user) { %>
              <a href="/logout"><i class="material-icons left"></i>Log Out</a>
          <% } else { %>
              <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
          <% } %>
          <!-- </li> -->
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="section no-pad-bot" id="index-banner">
    <div class="">
      <br><br>
      <h1 class="header center orange-text">Starter Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>
      <table class="table" id='rest-list'>
        <thead>
          <tr>
            <th scope="col">Restaurant Name</th>
            <th scope="col">Address</th>
            <th scope="col">Hey!</th>
          </tr>
        </thead>
        <tbody>
          <% restaurants.forEach(function(r){ %>
            <tr>
              <td><%= r.restaurant %></td>
              <td><%= r.address %></td>
              <td><a href="/restaurants/<%=r._id %>">More</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-warning" value="Add Restaurant">Add Restaurant</button>
</div>

  <div class="">
    <div class="section">


    </div>
    <br><br>
  </div>
</div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">This is Footer</h5>
          <p class="grey-text text-lighten-4">Footer</p>


        </div>
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  

<div class="sidenav-overlay"></div><div class="drag-target"></div></body></html>