
<head>
  <title>Add New Restaurant</title>
  <!-- Google Icon Fonts used by Materialize -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="stylesheets/style.css" /> -->
</head>
<body>
    add new restaurant
    <ul class=nav-wrapper >
        <li><a href="/restaurants">All Restaurants</a></li>
        <li><a href="/restaurants/new">New Restaurant</a></li>
      </ul>
<nav class="light-blue lighten-1" role="navigation">
<div class="nav-wrapper container">
  
</div>
    <div class="container">
    <table class="table">
        <thead>
        <h3>New Restaurant</h3>
            <form id="new-form" action ="/restaurants" method="POST">
                <div class="form-row">
                    <label for="rest-name">Restaurant Name</label>
                     <input placeholder="Restaurant Name" id="rest_name" type="text" name="name">
                    </div>
                        <div class="form-row">
                        <label for="category">Category:</label>
                         <input placeholder="Ethic, Fast Food, Fast Casual, Casual Dining, Premium Casual, Family Style, Fine Dining" id="category" type="text" name="category">
                        </div>
                        <div class="form-row">
                        <label for="cuisine">Cuisine Type:</label>
                         <input placeholder="Italian, BBQ, Seafood, Mediterranian" id="cuisine" type="text" name="cuisine">
                        </div>
                        <div class="form-row">
                            <label>Address:</label>
                        <label for="street">Street: </label>
                        <input placeholder="123 Main Street Suite 1" type="text" name="street">
                        </div>
                        <div class="form-row">    
                        <label for="city">City: </label>
                        <input placeholder="City" id="city" type="text" name="city">
                        </div>
                        <div class="form-row">    
                        <label for="state">State: </label>
                        <input placeholder="State" id="state" type="text" name="state">
                        </div>
                        <div class="form-row">    
                        <label for="zip">Zip Code: </label>
                        <input placeholder="Zip Code" id="zip" type="text" name="zip">
                        </div><br><br>
                    <div class="new-form-btn">
                    <div>
                        <button type="submit" class="btn btn-warning" value="Add Restaurant">Add Restaurant</button>
                    </div><br>
                    <a href="/restaurants">Cancel</a>
                </div>
            </div>
        </form>
        <!-- <form id="new-form" action ="/restaurants" method="GET">
            <div>
              <button type="submit" class="btn btn-warning" value="cancel">Cancel</button>
            </div>
          </form> -->
    </thead>
        </table>
</body>
</html>
